body{ 
    background-color: #Ffffff;
    font-family:'Montserrat', sans-serif;
    font-family: 'Poiret One', sans;
    font-weight: 400; /* sets font weight to 400 */
    line-height: 1.6; /* sets the line height to 1.6 * the font size */
    color: #02273d;
}

h1, h2, h3, h4 { 
    line-height: 1.4;
}
h1{
    font-size:28px; 
    font-size: 2.75em;
    font-weight: 400; }
h2{
    font-size: 24px;
    font-size: 2.25em;
    font-weight: 400;}
h3{
    font-size: 20px;
    font-size: 1.75em;
    font-weight: 400;}
h4{
    font-size: 18px;
    font-size: 1.35em;
    font-weight: 400;}


p, ol, ul {
    font-family:'Montserrat', sans-serif; /* set paragraph font to monts. */
    font-size: 18px; /* set p. text size to 18 px */
    line-height: 1.2; /* set line height to 1.2 times the font size */
    font-weight: 200; /* set text weight to 200 */
    color: #30675D; 
}
img{width:100%}
#logo{ width: 15%}
#linked_logo{ width:10%}


a{ color: #0973f6;
     font-size: 22px;
    text-decoration: none;}

a:visited{ color:#031832; 
        font-size: 22px;
       text-decoration: none;/* link visited already*/}
   

a:hover{ color: #fe922d;
    font-size: 22px;
   outline: 2px solid #fe922d;}

   a:focus{ color: #fe922d;
        font-size: 22px;
       outline: 2px solid #fe922d;}
       
a:active{ color: #0973f6;
        font-size: 22px;
       text-decoration: underline;}


.button { display: inline-block; /* change button to in-line-block*/
        background-color: #fe922d; 
        color: #0973f6
        font-weight: 400;
        padding: 10px;
        border-radius: 3px;
        border-bottom: 2px solid #031832; 
        transition: 0.2s opacity; }

.button:active{ color: #fe922d;
            background-color: #ffffff:
             text-decoration: underline;}

.button:hover{ color: #031832;
                opacity: 0.8; /* redueces opacity of butoon to 80%*/
                text-decoration: none;}


    


}