* {
    box-sizing: border-box;
  }


body{ 
    background-color: #Ffffff;
    font-weight: 400; /* sets font weight to 400 */
    line-height: 1.6; /* sets the line height to 1.6 * the font size */
    color: #044469;}



h1{font-family: 'Poiret One','Montserrat';
    line-height: 1.4;
    font-size:28px; 
    font-size: 2.75em;
    font-weight: 400; }

h2{font-family: 'Poiret One','Montserrat';
    line-height: 1.4;
    font-size: 24px;
    font-size: 2.25em;
    font-weight: 400;}

h3{font-family: 'Poiret One','Montserrat';
    line-height: 1.4;
    font-size: 20px;
    font-size: 1.75em;
    font-weight: 400;}

h4{font-family: 'Poiret One','Montserrat';
    line-height: 1.4;
    font-size: 18px;
    font-size: 1.35em;
    font-weight: 400;}


p, ol, ul {
    font-family:'Poiret One','Montserrat'; /* set paragraph font to poiret. */
    font-size: 18px; /* set p. text size to 18 px */
    line-height: 1.2; /* set line height to 1.2 times the font size */
    font-weight: 200; /* set text weight to 200 */
    color: #30675D; }

img{width:100%}

#photo{width:100%;}

#linked_logo{ width:30px}

#logo { max-width: 200px;
        display: inline-block;
        box-sizing: border-box;
        position: relative;}

a{ background-color: transparent;
    color: #0973f6;
     font-size: 20px;
    text-decoration: none;}

a:visited{ color:#0973f6; 
        font-size: 20px;
       text-decoration: none;/* link visited already*/}
   

a:hover{ color: #fe922d;
    font-size: 20px;
    text-decoration: underline 2px solid #0973f6;}

a:focus{ color: #fe922d;
        font-size: 20px;
        text-decoration: underline 2px solid #0973f6;}
       
a:active{ color: #0973f6;
        font-size: 20px;
       text-decoration: underline;}


.button { display: inline-block; /* change button to in-line-block*/
        outline: 2px solid #fe922d;
        color: #0973f6;
        font-weight: 400;
        padding: 10px;
        border-radius: 3px; 
        transition: 0.2s opacity; }

.button:active{ color: #fe922d;
            background-color: transparent;
             text-decoration: underline;}

.button:hover{ color: #031832;
                opacity: 0.8; /* redueces opacity of butoon to 80%*/
                text-decoration: none;}

.button.contact{ background-color: transparent;
                color:#0973f6;
                border: 2px solid #fe922d;}
    
.button.contact:active{ background-color: transparent;
                        color:#0973f6;
                        border: 2px solid #fe922d;}

.button.contact:hover{ background-color: transparent;
                        color:#fe922d;
                        border: 2px solid #fe922d;}
                        
header{
        position:relative;
        width:100%; 
        height: 100%; 
        background: #F8F8F8; 
        border: solid #BDBDBD 1px; 
        box-shadow: 6px 29px 29px rgba(0, 0, 0, 0.5)  ; 
        -webkit-box-shadow: 6px 29px 29px rgba(0, 0, 0, 0.5)  ; 
        -moz-box-shadow: 6px 29px 29px rgba(0, 0, 0, 0.5)  ; 
        background-color: #FDDFB7;
        padding: 10px 0;
        margin: 0 auto;
        text-align: center;}


/* =============layout styling===================*/


.container { padding: 0 10px 40px 10px;}

 .row{      padding-top: 0; 
            padding-bottom: 25px;  
            border-bottom: 2px solid #fe922d;
            display: inline-block;} /* 25px top and bottom 0 righ and left*/

#hero h1,h2{  text-align: center;}

#hero .hero_text{ text-align: right;}



nav > ul{background-color: transparent;
        list-style-type: none;
        padding-right:5px;
    }

nav > ul > li{ display: inline-block;}

nav > ul > li > a{ 
    padding: 0 5px;
    text-transform: uppercase;
    font-weight: 400;
    background-color:transparent;}

nav > ul > li > a:visited{ 
        color:#031832;
        padding: 0 5px;
        text-transform: uppercase;
        font-weight: 700;}
nav > ul > li > a:hover{ 
        padding: 0 5px;
        text-transform: uppercase;
        font-weight: 700;
        text-decoration: underline 2px solid #0973f6;}
nav > ul > li > a:focus{ 
        padding: 0 5px;
        text-transform: uppercase;
        font-weight: 700;
        text-decoration: underline 2px solid #0973f6; }            
nav > ul > li > a:active{ 
        color: #0973f6;
        padding: 0 5px;
        text-transform: uppercase;
        font-weight: 700;
        text-decoration: underline 2px solid #0973f6;}


.topic{ text-decoration: underline 2px solid #fe922d;}


#hero{ 
    font-family: 'Poiret One','Montserrat';
    width:100%;
    margin:0 auto; 
    padding:5px 0;
    display: inline-block;
    background-color: #26665a27;
    text-align: center;
    }

footer{ 
    display:block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 50px;}


/* ======================================================media query===========================================*/ 

/* ====================medium devices (640px and larger)==============================*/
@media only screen and (min-width:640px){ 

  
    header{ 
        text-align: unset;
        padding: 20px 0 13px}
    
    body{ font-size: 16px;}


    nav{ width: auto;
          float: right;
          margin-top: 4px;} 
    
    #hero { display: block;
            font-family: 'Poiret One','Montserrat';}
    
    [class*="col-"] {float: left;
                        margin:5px 5px}

    .col-md-7{ width:40%;
                font-size: 16px;
                padding-top: 80px;}

    .col-md-5{ width:55%;
                    font-size: 16px;
                    padding-left: 8px;}

    #about-page h3{ margin-top: 0;}
    
    
    .row::after {
        content: "";
        clear: both;
        display: table;}

    .container {
            max-width: 1200px;
            margin-left: auto;
            margin-right: auto;
          }
    

    #photo{width:80%;
            padding-left: 125px;}
   
     
 
    

    
    }


/*====================== large devices (1024px and larger)=========================*/
@media only screen and (min-width:1024px){
    
    
    header{ 
        text-align: unset;
        padding: 0 20px;
        margin:auto
       }   
 
nav{ width: auto;
        float: inline-start;
        margin-top: 4px;
        margin-bottom: 20px;
    } 

 #hero { display: block;
            font-family: 'Poiret One','Montserrat';}

[class*="col-"] { width: 50%; 
                 float: left;}

.col-lg-7{padding-left: 10px;
            padding-right: 41px;
            width:45%;
            font-size: 16px;}

.col-lg-5{padding-top: 125px;
                width:30%}

#about-page h3{ margin-top: 0;}

.row::after {
    content: "";
    clear: both;
    display: table;}

p{ font-size: 20px;}
 
.container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
      }

#photo{width:40%;
        padding-left: 20px;}

#logo { max-width: 250px;
        display: inline-block;
        position: relative;}

}


/*======================== x-large devices (1400px and larger)====================================*/
@media only screen and (min-width:1400px){

#logo { max-width: 300px;
        display: inline-block;
        position: relative;}

nav{        font-size: 34px;       
            width: auto;
            float: inline-start;
            margin-top: 4px;
            margin-bottom: 20px;} 


 }





 /*======================= svg Animation=================================*/
.svg{ width: 100%;
    max-width: 100%;
    height:auto;}

@keyframes color-change{ 
    0% {fill: #edc655;}
    50% {fill: #fcffad;}
    100% {fill: #f76414;}}

.sun {
        animation-duration: 10s;
        animation-name: color-change;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: linear;
      }

@keyframes cloud-move {
        from {transform: translate(0,50px);}
        to {transform: translate(200px,50px);} }

.cloud-front {
            animation-duration: 35s;
            animation-name: cloud-move;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            animation-timing-function: linear; }

@keyframes cloud-move-reverse {
                from {transform: translate(446px,48px);}
                to {transform: translate(100px, 48px);} }


 .cloud-back { animation: 40s cloud-move-reverse infinite alternate linear; }